* {
  margin: 0px;
  padding: 0px;
}

main {
  background-image: url(../imgs/fondo-formal.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 50vh;
}

.name {
  font-size: 30px;
}

.borde {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 3px solid #5c085c85;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.623);
}

.logo-hola-mundo {
  width: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .logo-hola-mundo,
  .logo {
    width: 100px;
  }
  .foto-diego {
    width: 200px;
  }
  .nav-link {
    padding: 0.5rem;
  }
  .navbar {
    flex-direction: column;
  }
  .navbar-collapse {
    width: 100%;
    background-color: rgba(56, 7, 66, 0.842);
  }
  .navbar-toggler {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    width: 100vw;
  }

  .navbar-collapse.collapsing {
    transition: transform 0s ease;
    transform: translateY(-100%);
  }

  .navbar-collapse.show {
    transition: transform 0.3s ease;

    position: absolute;
    background-color: rgba(56, 7, 66, 0.842);
    top: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  .foto-portafolio {
    width: 70%;
  }
}

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgba(70, 37, 77, 0.699);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}

.navbar .toggler {
  margin-left: 0px;
}

.navbar-toggler {
  color: #92a352;
}

.navbar-toggler span {
  background-color: #809e118f;
}

.navbar .nav-link {
  color: aliceblue;
  font-size: 1rem;
}

.navbar .nav-link:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.foto-diego {
  box-shadow: 0 4px 8px 0;
  border-radius: 50%;
  width: 240px;
}

.info {
  font-size: 1rem;
  font-weight: 500;
}

.sobre-mi {
  font-weight: 500;
  margin-top: 40px;
}

section {
  background-color: #211025;
  color: rgb(171, 177, 182);
  font-size: 1rem;
  font-weight: 400;
  min-height: 50vh;
}

.cuadro-info {
  margin-top: 40px;
}

.experiencia {
  width: 100vw;
  background-image: url(../imgs/fondo-morado.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: -80px;
  padding-top: 290px;
}
.divider {
  height: 2px;
  background: linear-gradient(to right, transparent, #333, transparent);
  margin: 20px 0;
}

.col-md-6 {
  position: relative;
}

#experiencia-laboral .col-md-6::after {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background: linear-gradient(to right, transparent, #333, transparent);
  position: absolute;
  bottom: 0;
}

.foto-portafolio {
  width: 70%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;
}

.foto-portafolio:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
